<mat-card class="dialog-container">
  <form>
    <h1 mat-dialog-title> {{ title }}</h1>
    <mat-card-content>
      <p *ngIf="!paymentProcess">¿Qué acción desea realizar?</p>
      @if(paymentProcess) {
        <div>
            <mat-form-field class="w-100">
                <mat-label>Medio de pago</mat-label>
                <mat-select [formControl]="selectedPaymentInformation" required>
                  <mat-option *ngFor="let paymentInformation of paymentInformationArray" [value]="paymentInformation">{{ paymentInformationDisplay(paymentInformation) }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      }
    </mat-card-content>
    <mat-card-actions *ngIf="!paymentProcess" class="dialog-actions">
    @if (canCancelOrConfirm) {
      <button mat-button class="action-button" (click)="confirmBooking()">Realizar Pago y Confirmar</button>
      <button mat-button class="action-button" (click)="cancelBooking()">Cancelar Reserva</button>
    }
      <button *ngIf="canDelete" mat-button class="action-button" (click)="onCancel()">Eliminar Reserva</button>
      <button mat-button class="action-button" (click)="onClose()">Cerrar</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="paymentProcess" class="dialog-actions">
      <button mat-button (click)="processPayment()" type="submit">Procesar Pago</button>
      <button mat-button (click)="openPaymentInformationDialog()">Agregar información de pago</button>
      <button mat-button (click)="cancelPayment()">Cancelar</button>
    </mat-card-actions>
  </form>
</mat-card>
  