<mat-card class="dialog-container">
    <h1 mat-dialog-title> {{ title }}</h1>
    <mat-card-content>
      <p *ngIf="!paymentProcess">¿Qué acción desea realizar?</p>
      @if(paymentProcess) {
        <p>Adjunte el comprobante de pago</p>
        <input #imageInput hidden="hidden" type="file" (change)="submitImageFile($event)" required>
        <button mat-flat-button (click)="imageInput.click()">Subir comprobante de pago</button>
      }
    </mat-card-content>
    <mat-card-actions *ngIf="!paymentProcess" class="dialog-actions">
    @if (canCancelOrConfirm) {
      <button mat-button class="action-button" (click)="confirmBooking()">Confirmar Reserva</button>
      <button mat-button class="action-button" (click)="cancelBooking()">Cancelar Reserva</button>
    }
      <button *ngIf="canPay" mat-button class="action-button" (click)="onPay()">Realizar Pago</button>
      <button *ngIf="canDelete" mat-button class="action-button" (click)="onCancel()">Eliminar Reserva</button>
      <button mat-button class="action-button" (click)="onClose()">Cerrar</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="paymentProcess" class="dialog-actions">
      <button mat-button (click)="processPayment()">Procesar Pago</button>
      <button mat-button (click)="cancelPayment()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
  