c-carousel {
    clip-path: xywh(0 0 100% 100% round var(--border-radius));
    margin: auto;
    height: auto;
}

mat-chip-grid {
    max-height: 6em;
    overflow: scroll;
}

mat-drawer[_ngcontent-ng-c1646113714] {
    background-color: var(--color-secondary);
    padding: 7em;
}

#lodging_form {
    align-self: stretch;
}

#lodging_form_input_container {
    column-gap: 1em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, 3em);
    padding: 2em 2em 0px 2em;
    row-gap: 0.5em;
}

#buttons_container {
    gap: 2em;
}

#description_field {
    grid-row: 4 / span 2;
}

#address_field {
    grid-row: 2 / span 2;
}

#phone_numbers_field {
    grid-row: 4 / span 2;
}

#rooms_button {
    align-self: stretch;
}

.buttons_container > button {
    margin: 0px 0.3em;
}

.lodging_form_input_shrink {
    align-self: start;
    justify-self: start;
}

.lodging_form_first_column {
    grid-column: 1;

}

.lodging_form_second_column {
    grid-column: 2;
}

.lodging_image {
    clip-path: xywh(0px 0px 100% 100% round var(--border-radius));
    display: block;
    height: 15em;
    object-fit: cover;
    width: 100%;
}

.w-buttons-bottom{
    width: 40%;
}

@media only screen and (max-width: 425px) {
    .w-buttons-bottom{
        width: 75%;
    }
}