<script src="./components/showComponent.js"></script>
<script src="./components/updateComponent.js"></script>
<script src="./components/deleteComponent.js"></script>
<div class="header-create">
    <h2 class="title">Usuarios en el sistema</h2>
</div>
<div class="container-table">
    <table id="userDataTable">
        <tr>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Números de teléfono</th>
            <th>Rol de usuario</th>
            <th colspan="2">Acciones</th>
        </tr>
    </table>
</div>

<script>
</script>