.modify-user{
    margin-left: 220px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    grid-template-rows: auto auto;
}

.user-settings_container{
    margin: 0 auto;
    width: 70%;
}

.input{
    margin-bottom: 50px;
    width: 200px;
    display: block;
}

.buttons{
    margin: 0 auto;
    width: auto;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}