.modify-user{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    grid-template-rows: auto auto auto auto;
}

.user-settings_container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    justify-content: center;
    width: 60vw;
}

#title_container {
    align-items: center;
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    width: 100%;
}

#title_container > h1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#title_container > button {
    grid-column: 2;
    grid-row: 1;
    margin: 0px 2em;
    z-index: 1;
}

.input{
    margin-bottom: 50px;
    width: 200px;
    display: block;
}

.buttons{
    border-radius: 20px;
    column-gap: 2em;
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 4;
    height: auto;
    margin: 0 auto;
    width: auto;
}

.button {
    border-color: white !important;
}

.delete_button {
    background-color: red !important;
    margin: auto;
}