mat-paginator {
    margin-bottom: 1em;
}

.button {
    display: block;
    margin: auto;
    margin-top: 0.2rem;
}

.buttons_container {
    column-gap: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    row-gap: 0.5em;
}

.buttons_container > * {
    flex: 1;
}

.lodging_info {
    padding: 20px;
    flex: 1;
}

.lodging_name {
    margin-top: 0;
    font-size: 1.5em;
}

.lodging_address, .lodging_description, .lodging_details {
    margin: 10px 0;
}

.price_per_night {
    color: #52f0dd;
}

.rooms_available {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

mat-paginator {
    margin-bottom: 1em;
}

.button {
    display: block;
    margin: auto;
    margin-top: 0.2rem;
}

.buttons_container {
    column-gap: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    row-gap: 0.5em;
}

.buttons_container > * {
    flex: 1;
}

.lodgings_container {
    column-gap: 1em;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
    row-gap: 1em;
}

.lodging_image {
    clip-path: rect(0px 0px 100% 100% round var(--border-radius));
    height: 12em;
    object-fit: cover;
}

.lodging_info {
    padding: 20px;
    flex: 1;
}

.lodging_name {
    margin-top: 0;
    font-size: 1.5em;
}

.lodging_address, .lodging_description, .lodging_details {
    margin: 10px 0;
}

.price_per_night {
    color: #52f0dd;
}

.rooms_available {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

#booking-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(15px) brightness(40%);
    color: white;
    margin: 0 auto;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.custom-table {
    border-collapse: collapse;
}

.header-row {
    background-color: var(--color-secondary);
}

.header-cell {
    padding: 10px;
    font-weight: bold;
    color: white;
    border: 1px solid var(--color-accent);
}

.data-row:nth-child(odd) {
    background-color: var(--color-accent);
}

.data-row:nth-child(even) {
    background-color: var(--color-secondary);
}

.data-cell {
    padding: 10px;
    border: 1px solid var(--color-accent);
    color: white;
}

.data-cell, .header-cell {
    text-align: center;
}

.price-info {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 1em;
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .w-sm-100{
        width: 100%;
    }
}