<mat-drawer-container fullscreen [hasBackdrop]="true">
    <mat-drawer #sidebar mode="push" position="end" (closed)="bookingDrawerClosed()">
        <h2>Reserva en {{selectedLodging?.name}}</h2>
        <form #bookingForm="ngForm" [formGroup]="bookingFormGroup" (ngSubmit)="isCompleteLodging() ? submitBooking() : addTemporaryBooking()">
            <mat-form-field>
                <mat-label>Seleccione las fechas de reserva</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="startDate" placeholder="Inicio" required>
                    <input matEndDate formControlName="endDate" placeholder="Finalización" required>
                </mat-date-range-input>
                <mat-error *ngIf="bookingFormGroup.get('startDate')?.hasError('required') || bookingFormGroup.get('endDate')?.hasError('required')">Las fechas son obligatorias.</mat-error>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field *ngIf="isLodgingWithMultipleRoomTypes()">
                <mat-label>Tipo de habitación</mat-label>
                <mat-select formControlName="roomTypeId" required>
                    <mat-option *ngIf="!selectedLodging || !selectedLodging.roomTypes || selectedLodging.roomTypes.length === 0" disabled>
                        No hay habitaciones disponibles 
                    </mat-option>
                    <mat-option *ngFor="let roomType of selectedLodging?.roomTypes" [value]="roomType.id">
                        {{ roomType.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="bookingFormGroup.get('roomTypeId')?.hasError('required')">El tipo de habitación es obligatorio.</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="isCompleteLodging()">
                <mat-label>Precio por noche</mat-label>
                <input matInput [value]="selectedLodging?.perNightPrice | currency" readonly>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Descuento</mat-label>
                <input matInput formControlName="discount" type="number" min="0" placeholder="Descuento (No hay descuentos)" readonly>
            </mat-form-field>
           
            <div *ngIf="selectedRoomTypePrice" class="price-info">
                <p>Precio por noche: {{ selectedRoomTypePrice | currency }}</p>
            </div>
            <div *ngIf="selectedTotalPrice" class="price-info">
                <p>Precio total: {{ selectedTotalPrice | currency }}</p>
            </div>

            <button mat-flat-button class="button" type="submit" *ngIf="isLodgingWithMultipleRoomTypes()">Guardar reserva</button>
            <button mat-flat-button class="button" type="button" (click)="submitBooking()" *ngIf="isCompleteLodging()">Realizar reserva</button>
        </form>

        <div *ngIf="temporaryBookings.length > 0" id="booking-container">
            <h3 class="title">Reservas Guardadas</h3>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
                <ng-container matColumnDef="roomTypeId">
                    <th mat-header-cell *matHeaderCellDef class="header-cell"> Tipo de Habitación </th>
                    <td mat-cell *matCellDef="let element" class="data-cell"> {{element.rooms[0].roomTypeId}} </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef class="header-cell"> Fecha de Inicio </th>
                    <td mat-cell *matCellDef="let element" class="data-cell"> {{element.rooms[0].startDate}} </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef class="header-cell"> Fecha de Finalización </th>
                    <td mat-cell *matCellDef="let element" class="data-cell"> {{element.rooms[0].endDate}} </td>
                </ng-container>
                <ng-container matColumnDef="discount">
                    <th mat-header-cell *matHeaderCellDef class="header-cell"> Descuento </th>
                    <td mat-cell *matCellDef="let element" class="data-cell"> {{element.rooms[0].discount}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="header-cell"> Eliminar</th>
                    <td mat-cell *matCellDef="let i = index" class="data-cell">
                        <button mat-icon-button (click)="deleteRoomBooking(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></tr>
            </table>
            <button mat-flat-button class="button" (click)="submitAllBookings()">Realizar todas las reservas</button>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <div id="title_container">
            <h1>{{title}}</h1>
            <button mat-flat-button *ngIf="isLessor" type="button" (click)="createLodging()">Crear alojamiento</button>
            <mat-form-field>
                <input matInput placeholder="Buscar..." (input)="searchTermChanged($event)">
            </mat-form-field>
        </div>

        <div class="lodgings_container">
            <div *ngFor="let lodging of pagedLodgings" class="lodging_card">
                <img *ngIf="hasPhotos(lodging)" loading="lazy" src="{{prependImagesRoute(lodging)}}" alt="{{lodging.name}}" class="lodging_image">
                <div class="lodging_info">
                    <h2 class="lodging_name">{{ lodging.name }}</h2>
                    <p class="lodging_address">{{ lodging.address }}</p>
                    <p class="lodging_description">{{ lodging.description }}</p>
                    <div class="lodging_details">
                        <span *ngIf="!hasRoomTypes(lodging)" class="price_per_night">Precio por noche: {{ lodging.perNightPrice | currency }}</span>
                        <span *ngIf="hasRoomTypes(lodging)" class="price_per_night">Precio por noche: {{ lodging.roomTypeMinPrice | currency }} — {{ lodging.roomTypeMaxPrice | currency }}</span>
                    </div>
                </div>
                <div class="buttons_container">
                    <button mat-flat-button *ngIf="canBook" (click)="openBookingDrawer(lodging)">{{ isUserLogged ? "Reserva" : "Regístrate para reservar" }}</button>
                    <button mat-flat-button *ngIf="isLessor" (click)="editLodging(lodging.id)">Editar</button>
                    <button mat-flat-button *ngIf="canDelete" (click)="deleteLodging(lodging.id)">Eliminar</button>
                </div>
            </div>
        </div>
        <mat-paginator #paginator mat-flat-paginator
            [length]="lodgings.length" [pageSize]="pageSize"
            [pageIndex]="currentPage" [pageSizeOptions]="[5, 10]"
            (page)="pageChanged($event)">
        </mat-paginator>
    </mat-drawer-content>
</mat-drawer-container>
