<div class="container">

  <div class="login-container">
    
    <h2>Iniciar Sesión</h2>

    <form #loginForm="ngForm" (ngSubmit)="onsubmit(loginForm)">
      <i class="fas fa-user"></i>
      <div class="input-field">
        <input type="text" placeholder="Usuario" name="userName" #name="ngModel" [(ngModel)]="user.userName" required >
      </div>

      <i class="fas fa-lock"></i>

      <div class="input-field">
        <input type="password" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password" required>
      </div>
      <div class="buttons my-4">
        <button class="w-75" type="submit">Iniciar Sesión</button>
        <p class="mt-1">No tienes una cuenta? Registrate!</p>
        <button type="button" [routerLink]="['/register']"> Registrarse</button>  
      </div>

      </form>
    
  </div>
<router-outlet></router-outlet>
</div>