<div>
    <h1 id="lodging_title">{{ lodgingName }}</h1>
    <div id="lodging_info_main">
        <div id="lodging_info_left_section">
            <h3>Habitaciones</h3>
            <button mat-flat-button (click)="createRoomType()">Agregar</button>
            <div id="room_types_container">
                <div class="room_type_item" *ngFor="let roomType of roomTypes">
                    <img class="room_type_item_image" *ngIf="hasPhotos(roomType)" src="{{ prependImagesRoute(roomType.photos[0]) }}">
                    <div class="flex_grow">
                        <h4 class="text_align_start">{{ roomType.name }}</h4>
                        <p class="text_align_start">Precio por noche: {{ roomType.perNightPrice | currency }}</p>
                        <p class="text_align_start">Capacidad: {{ roomType.capacity }} personas</p>
                    </div>
                    <div class="room_type_item_buttons">
                        <button mat-flat-button (click)="editRoomType(roomType)">Editar</button>
                        <button mat-flat-button (click)="deleteRoomType(roomType)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="lodging_info_right_section">
            <h3>Información de la habitación</h3>
            <div class="buttons_container">
                <button mat-flat-button class="button" [disabled]="inputDisabled" (click)="openImagesDialog()">Editar fotos</button>
            </div>
            <div id="room_type_image_container">
                <img *ngIf="selectedRoomTypeHasPhotos" class="room_type_image" loading="lazy" src="{{prepareImageForDisplay(selectedRoomTypePhotos[0])}}">
            </div>
            <form id="room_type_form" #roomTypeForm [formGroup]="roomTypeFormGroup">
                <div id="room_type_input_container">
                    <mat-form-field>
                        <mat-label>Nombre de la habitación</mat-label>
                        <input matInput formControlName="roomTypeName">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Precio por noche</mat-label>
                        <input matInput formControlName="perNightPrice">
                        <span matTextPrefix>$&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Impuesto aplicado</mat-label>
                        <input matInput formControlName="fees">
                        <span matTextPrefix>$&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Capacidad</mat-label>
                        <input matInput formControlName="capacity">
                        <span matTextSuffix>personas</span>
                    </mat-form-field>
                    <mat-form-field id="room_numbers_field" class="lodging_form_first_column">
                        <mat-label>Números de habitación</mat-label>
                        <mat-chip-grid #roomNumbersGrid aria-label="Habitaciones del alojamiento">
                        @for (roomNumber of roomNumbers; track roomNumber) {
                            <mat-chip-row (removed)="removeRoom(roomNumber)">
                                {{ roomNumber }}
                                <button matChipRemove [attr.aria-label]="'remove ' + roomNumber">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                        }
                        </mat-chip-grid>
                        <input placeholder="Números de habitación..." #roomNumberInput formControlName="roomNumber"
                            [matChipInputFor]="roomNumbersGrid"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addRoom($event)"/>
                    </mat-form-field>
                </div>
                <div class="buttons_container">
                    <button mat-flat-button [disabled]="inputDisabled" (click)="saveRoomType()">Guardar</button>
                    <button mat-flat-button [disabled]="inputDisabled" (click)="cancelEdit()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
