h3 {
    margin: 0.5em 0px 0.5em 0px;
}

mat-chip-grid {
    max-height: 5em;
    overflow: scroll;
}

#lodging_form {
    align-self: stretch;
}

#buttons_container {
    gap: 2em;
}

#description_field {
    grid-row: 4 / span 2;
}

#address_field {
    grid-row: 2 / span 2;
}

#room_type_image_container {
    height: 10em;
    margin: 0.5em 0px;
}

#perk_chips_field {
    grid-row: 2 / span 2;
}

#phone_numbers_field {
    grid-row: 4 / span 2;
}

#rooms_button {
    align-self: stretch;
}

#room_type_form {
    width: 100%
}

#room_numbers_field {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}

#room_types_container {
    overflow: scroll;
}

.buttons_container > button {
    margin: 0px 0.3em;
}

.lodging_form_input_shrink {
    align-self: start;
    justify-self: start;
}

.lodging_form_first_column {
    grid-column: 1;
}

.lodging_form_second_column {
    grid-column: 2;
}

.room_type_image {
    clip-path: rect(0px 0px 100% 100% round var(--border-radius));
    display: block;
    height: 10em;
    object-fit: cover;
    width: auto;
}

.room_type_item_image {
    border-radius: var(--border-radius);
    object-fit: cover;
    height: 6em;
}

.text-sm-center{
    text-align: start;
}

@media only screen and (max-width: 425px) {
    .text-sm-center{
        text-align: center;
    }

    .w-sm-75{
        width: 75%;
        height: auto;
    }
}