<mat-card class="dialog-container">
    <h1 mat-dialog-title>Agregar medio de pago</h1>
    <mat-card-content>
        <form id="card_information_form" #lodgingForm="ngForm" [formGroup]="cardInformationFormGroup">
            <div id="card_information_fields_container">
                <mat-form-field id="card_number_field">
                    <mat-label>Número de tarjeta</mat-label>
                    <input matInput formControlName="cardNumber" required>
                </mat-form-field>
                <mat-form-field id="card_security_code_field">
                    <mat-label>CVC/CVV</mat-label>
                    <input matInput formControlName="securityCode" required>
                </mat-form-field>
                <mat-form-field id="card_expiry_date_field">
                    <mat-label>Fecha de expiración</mat-label>
                    <input matInput [matDatepicker]="cardExpiryDatePicker" formControlName="cardExpiryDate">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="cardExpiryDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #cardExpiryDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions class="dialog-actions">
        <button mat-button class="action-button" (click)="addPaymentInformation()">Agregar</button>
        <button mat-button class="action-button" (click)="cancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>
  