:root {
    --border-radius: 20px;

    --color-primary: #0D1F23;
    --color-secondary: #132E35;
    --color-accent: #2D4A53;
    --color-light: #69818D;
    --color-lighter: #AFB3B7;
    --color-gray: #5A636A;

    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-secondary);
    font-size: 20px;
}

.swal2-popup {
    background-color: var(--color-secondary);
    color: white;
}

body {
    background-image: url("https://img.goodfon.com/original/2000x1325/9/11/otel-maldivy-bassein.jpg");
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: min-content min-content auto;
    height: 100vh;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 425px) {
    body{
        background-size: 100% 100%;
        background-position: center;
        background-image: url("https://imgur.com/y7aKg7J.jpg");
    }
}

#main {
    display: grid;
    grid-template-rows: min-content auto;
    grid-row: 3;
}

app-booking, app-error, app-home, app-lodging, app-lodging-info, app-lodging-rooms, app-lodging-view, app-user, app-user-settings {
    backdrop-filter: blur(20px) brightness(35%);
    color: white;
}

.bold {
    font-weight: 550;
}


.navbar a:hover{
    cursor: pointer;
}